<div class="app-bar" style="text-align:center;">
  <div>
      <div>
          <a><img class="app-logo" src="assets/BeHealthy_Partnership_cmyk.png" alt="BeHealthy Partnership"></a>
      </div>
  </div>
</div>
<div class="container">
  <form #tableFilters="ngForm" novalidate>
    <div class="row">
        <div class="col s6 m6 l6">
          <input type="text" name="memberLastNameFilter" placeholder="Member Last Name" [(ngModel)]="memberLastNameFilter" autofocus>
        </div>
        <div class="col s6 m6 l6">
            <input type="text" name="memberDOBFilter" placeholder="Member Date of Birth" [(ngModel)]="memberDOBFilter" autofocus>
        </div>
      </div>
      <div class="col s12 m12 l12" style="text-align: center;">
        <p>OR</p>
      </div>
      <div class="row">
          <div class="col s12 m12 l12">
              <input type="text" name="massHealthIDFilter" placeholder="MassHealth ID" [(ngModel)]="massHealthIDFilter" autofocus>
              <label for="showMyMembers">
                  <input id="showMyMembers" (click)="toggleMembersList(!showMyMembers)" type="checkbox" class="indeterminate-checkbox" checked="showMyMembers">
                  <span>Show My Members</span>
              </label>
          </div>
      </div>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12" style="text-align: center;">
      <h4>
        Members List
      </h4>
    </div>
    <div class="col s12 m12 l12">
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>MassHealth ID</th>
              <th>Medicaid ID</th>
              <th>Risk Score</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Date of Birth</th>
              <th>PCP</th>
              <th>CNS</th>
              <th>CA</th>
              <th>CP</th>
              <th>CHW</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of memberList | filters : 'LastName' : memberLastNameFilter | filters : 'MassHealthID': massHealthIDFilter | filters : 'DOB' : memberDOBFilter | filters : 'AssignedToCurrentUser' : showMyMembers; index as i">
              <td>{{member.MassHealthID}}</td>
              <td>{{member.MedicaidID}}</td>
              <td>{{member.RiskScore}}</td>
              <td>{{member.LastName}}</td>
              <td>{{member.FirstName}}</td>
              <td>{{member.DOB}}</td>
              <td>{{member.PCP}}</td>
              <td>{{member.CNS}}</td>
              <td>{{member.CA}}</td>
              <td>{{member.CP}}</td>
              <td>{{member.CHW}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
